[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
datetime = "*"
flask-restful = "*"
flask-jwt-extended = "*"
passlib = "*"
flask-cors = "*"

[dev-packages]
pylint = "*"
rope = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
